#right{text-align:right;}
.g{font-size:8em;}
.g{text-align:center;padding:0px;}
.low{text-align:center;margin-bottom:80px;}
.search{padding:30px;}
.field{text-align:center;}
.one{color:#4885ed;}
.two{color:#db3236;}
.three{color:#f4c20d;}
.four{color:#4885ed;}
.five{color:#3cba54;}
.six{color:#db3236;}
.next{text-align:right;}
.bottombar{background-color:#d3d3d3;}
